# Extração de Dados do ENEM

In [3]:
# Importando das libs necessárias

import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [4]:
#Criar um diretório para armazenar os dados
os.makedirs('enem_2019', exist_ok = True)

In [7]:
%%time 
# definindo a URL 
url = 'https://download.inep.gov.br/microdados/microdados_enem_2019.zip'

#download do conteudo
filebytes = BytesIO(
    requests.get(url).content
)

Wall time: 14min 45s

In [8]:
#extrair o conteúdo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("enem2019")

# Verificando os dados

In [19]:
#lendo os dados gerais do enem, e salvando em um df apenas com os alunos de MG.
array_df = []
for chunk in pd.read_csv('./enem2019/dados/MICRODADOS_ENEM_2019.csv', 
                         encoding='Latin1', sep=';', chunksize = 50000000):
    temp_df = chunk.loc[chunk['SG_UF_PROVA'] == 'MG']
array_df.append(temp_df)

df = pd.concat(array_df, ignore_index=True)

In [20]:
df

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001037403,2019,1400100,Boa Vista,14,RR,24,F,0,3,...,A,A,A,B,B,A,C,A,A,B
1,190001046473,2019,3169307,Três Corações,31,MG,19,F,1,3,...,B,A,A,B,B,B,E,A,B,B
2,190001055004,2019,1501303,Barcarena,15,PA,30,F,2,3,...,A,A,A,B,A,A,B,A,A,A
3,190001062060,2019,3170206,Uberlândia,31,MG,18,F,1,3,...,A,A,A,B,A,A,C,A,A,B
4,190001196928,2019,3170206,Uberlândia,31,MG,45,F,0,3,...,A,A,A,C,A,A,E,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534622,190006120182,2019,3170107,Uberaba,31,MG,59,F,2,2,...,A,A,A,B,A,A,C,A,B,B
534623,190006120183,2019,3162708,São João do Paraíso,31,MG,33,F,0,1,...,B,A,A,B,A,A,B,A,B,B
534624,190006120184,2019,3112604,Capinópolis,31,MG,18,F,1,2,...,B,A,B,D,B,B,D,A,B,B
534625,190006120185,2019,3154606,Ribeirão das Neves,31,MG,22,F,2,3,...,B,A,A,B,A,A,C,A,A,B
534626,190006120186,2019,3106705,Betim,31,MG,37,F,1,3,...,A,A,A,C,B,A,D,A,B,B

In [26]:
#salvando o df como csv
df.to_csv('./enem_mg_2019.csv', index = False)

In [4]:
#reabrindo o csv para não ter que rodar todo o notebook

df_mg = pd.read_csv('enem_mg_2019.csv')

In [5]:
df_mg.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001037403,2019,1400100,Boa Vista,14,RR,24,F,0,3,...,A,A,A,B,B,A,C,A,A,B
1,190001046473,2019,3169307,Três Corações,31,MG,19,F,1,3,...,B,A,A,B,B,B,E,A,B,B
2,190001055004,2019,1501303,Barcarena,15,PA,30,F,2,3,...,A,A,A,B,A,A,B,A,A,A
3,190001062060,2019,3170206,Uberlândia,31,MG,18,F,1,3,...,A,A,A,B,A,A,C,A,A,B
4,190001196928,2019,3170206,Uberlândia,31,MG,45,F,0,3,...,A,A,A,C,A,A,E,A,B,B

In [10]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [12]:
#Importando libs para jogar pro bd
import sqlalchemy
import psycopg2

#criando a conexão com o bd
engine = sqlalchemy.create_engine("postgresql://postgres:postgres@localhost/enem2019")

In [13]:
#salvando os dados para o bd.
df_mg.to_sql('enem19_mg', con = engine, index = False, if_exists = 'append')