# Transformando os dados do Enem

In [1]:
#importando as libs necessárias

import pandas as pd
import numpy as np 
import os

In [2]:
df = pd.read_csv('enem_mg_2019.csv', 
                sep = ",")

In [3]:
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001037403,2019,1400100,Boa Vista,14,RR,24,F,0,3,...,A,A,A,B,B,A,C,A,A,B
1,190001046473,2019,3169307,Três Corações,31,MG,19,F,1,3,...,B,A,A,B,B,B,E,A,B,B
2,190001055004,2019,1501303,Barcarena,15,PA,30,F,2,3,...,A,A,A,B,A,A,B,A,A,A
3,190001062060,2019,3170206,Uberlândia,31,MG,18,F,1,3,...,A,A,A,B,A,A,C,A,A,B
4,190001196928,2019,3170206,Uberlândia,31,MG,45,F,0,3,...,A,A,A,C,A,A,E,A,B,B

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534627 entries, 0 to 534626
Columns: 136 entries, NU_INSCRICAO to Q025
dtypes: float64(24), int64(71), object(41)
memory usage: 554.7+ MB

In [5]:
list(df.columns)

['NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_TEMPO_ADICIONAL',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025']

1. Qual é a média da nota em matemática de todos os alunos mineiros?

2. Qual é a média da nota em Linguagens e Códigos de todos os alunos mineiros?

In [8]:
df[['NU_NOTA_CN', 'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']].describe()

          NU_NOTA_CN     NU_NOTA_CH     NU_NOTA_LC     NU_NOTA_MT
count  390855.000000  411175.000000  411175.000000  390855.000000
mean      492.484947     521.041378     531.352800     546.987343
std        78.014744      83.231032      61.295952     115.132503
min         0.000000       0.000000       0.000000       0.000000
25%       430.600000     462.600000     497.600000     451.900000
50%       489.500000     526.700000     536.700000     531.600000
75%       551.200000     580.500000     573.000000     630.100000
max       842.800000     835.100000     770.500000     985.500000

3. Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?

In [9]:
df.loc[df.TP_SEXO == 'F',
      'NU_NOTA_CH'
      ].mean()

515.3127161497258

4. Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?

In [10]:
df.loc[df.TP_SEXO == 'M',
      'NU_NOTA_CH'
      ].mean()

529.9062414036799

5. Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Montes Claros?

In [12]:
df.loc[
    (df.TP_SEXO == 'F')&
    (df.NO_MUNICIPIO_RESIDENCIA == 'Montes Claros'),
    'NU_NOTA_MT'
    ].mean()

525.3034518692197

6. Qual é a média da nota em Matemática dos alunos do município de Sabará que possuem TV por assinatura na residência?

In [14]:
df.loc[
    (df.Q021 == 'B')&
    (df.NO_MUNICIPIO_RESIDENCIA == 'Sabará'),
    'NU_NOTA_MT'
    ].mean()

543.115931721195

7. Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem dois fornos micro-ondas em casa?

In [15]:
df.loc[
    df.Q016 == 'C',
    'NU_NOTA_CH'
].mean()

557.253659652333

8. Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a pós-graduação?

In [16]:
df.loc[
    df.Q002 == 'G',
    'NU_NOTA_MT'
].mean()

620.4733159346034

9. Qual é a nota média em Matemática dos alunos de Belo Horizonte e de Conselheiro Lafaiete?

In [25]:
cl = df.loc[(df.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete'),
       'NU_NOTA_MT'
    ].mean()
bh = df.loc[(df.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte'),
       'NU_NOTA_MT'
    ].mean()

In [27]:
np.mean(np.array([cl, bh]))

571.5238707717988

In [84]:
df.loc[(df.SG_UF_RESIDENCIA =="MG") &
    (df.NO_MUNICIPIO_RESIDENCIA.isin(['Belo Horizonte','Conselheiro Lafaiete'])),
    "NU_NOTA_MT"
].mean()

577.9960746210608

10. Qual é a nota média em Ciências Humanas dos alunos mineiros que moram sozinhos?

In [28]:
df.loc[
    df.Q005 == 1,
    'NU_NOTA_CH'
].mean()

534.668514675362

11. Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai completou pós-graduação e possuem renda familiar entre BRL 8.982,01 e BRL 9.980,00.

In [31]:
df.loc[
    (df.Q001 == 'G')&
    (df.Q006 == 'M'),
    'NU_NOTA_CH'
].mean()

586.5116696588874

12. Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Lavras e escolheram “Espanhol” como língua estrangeira?

In [32]:
df.loc[
    (df.TP_SEXO == 'F')&
    (df.NO_MUNICIPIO_RESIDENCIA == 'Lavras')&
    (df.TP_LINGUA == 1),
    'NU_NOTA_MT'
].mean()

510.63991031390145

13. Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?

In [33]:
df.loc[
    (df.TP_SEXO == 'M')&
    (df.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'),
     'NU_NOTA_MT'
].mean()

555.0832520325198

14. Qual é a nota média em Ciências Humanas dos alunos surdos?

In [36]:
df.loc[
    df.IN_SURDEZ == 1,
    'NU_NOTA_CH'
].mean()

435.2672727272726

15. Qual é a nota média em Matemática dos alunos do sexo FEMININO, que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?

In [88]:
df.loc[(df.TP_SEXO =="F") &
    (df.NO_MUNICIPIO_RESIDENCIA.isin(['Belo Horizonte','Betim','Nova Lima','Sabará']))&
       (df.IN_DISLEXIA == 1),
    "NU_NOTA_MT"
].mean()

582.1935483870968

## A 9 e 15 foram erradas.

Já encontram-se corrigidas, mas no questionário foram enviadas como errado.